#cart thead {
    /* border: 1px solid; */
}

#cart th {
    padding: 10px;
}

#cart td {
    padding: 10px;
    border-bottom: 1px solid #808080;
}

#cart tr:hover {
    background-color: #1c065d;
}

#cardHead tr:first-child {
    background-color: #5D01EE;
}